html {
  scroll-behavior: smooth;
}

body {
  font-family: 'PT Sans', sans-serif;
}


/* ==============================
          Why I did This
============================== */
#intro {
  font-family: 'PT Sans', sans-serif;
  border-bottom: 4px solid #ff822e;
  padding: 50px 20px;
}

#intro h1 {
  color: #97063a;
  font-weight: 700;
  padding-bottom: 10px;
  margin-bottom: 30px;
  border-bottom: 4px solid #ff822e;
}

#nav {
  padding-bottom: 40px;
}

#nav ul {
  list-style-type: none;
  text-align: center;
}

#nav ul li {
  display: inline;
  padding-right: 40px;
}

#nav li a {
  text-transform: uppercase;
  color: #97063a;
  font-weight: 700;
}

#desc {
  padding: 5% 0;
}

#desc p {
  font-size: 1.2rem;
  margin-bottom: 0;
}

img {
  width: 100%;
  border-radius: 5%;
}

/* ==============================
          Job Questions
============================== */

#Job-Questions {
  background: linear-gradient(to bottom left, rgba(230, 230, 230, 0), rgba(230, 230, 230, 1));
  font-family: 'PT Sans', sans-serif;
  border-bottom: 4px solid #ff822e;
  padding: 50px 20px;

}

#Job-Questions ol {
  font-size: 1.2rem;
}

#Job-Questions ol li {
  font-weight: 600;
}

/* ==============================
          Contact Me
============================== */

#Contact {
  font-family: 'PT Sans', sans-serif;
  padding: 50px 20px;
  background: white;
  border-bottom: 4px solid #ff822e;
}

#Contact #content {
  padding-top: 20px;
  text-align: center;
}
